 .u-section-1 {
  background-image: linear-gradient(#adf7b3, #72efe9);
}

.u-section-1 .u-sheet-1 {
  min-height: 246px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 12px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  margin: 9px auto 29px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 142px;
    margin-top: 31px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 6px;
    margin-bottom: 38px;
  }
} .u-section-2 {
  background-image: linear-gradient(#72efe9, #db545a);
  min-height: 554px;
}

.u-section-2 .u-image-1 {
  height: 553px;
  margin: 1px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    object-position: 48.34% 50%;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: linear-gradient(#adf7b3, #77aad9);
}

.u-section-3 .u-sheet-1 {
  min-height: 735px;
}

.u-section-3 .u-group-1 {
  width: 800px;
  min-height: 530px;
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  width: 235px;
  margin: 0 auto;
}

.u-section-3 .u-group-2 {
  width: 164px;
  min-height: 96px;
  margin: 53px 121px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-group-3 {
  width: 164px;
  min-height: 96px;
  margin: -96px auto 0 124px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-text-4 {
  margin: 44px 124px 0 452px;
}

.u-section-3 .u-text-5 {
  margin: -24px 452px 0 124px;
}

.u-section-3 .u-group-4 {
  width: 164px;
  min-height: 82px;
  margin: 23px auto 0 124px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  font-size: 1.875rem;
  margin: 0 53px 0 0;
}

.u-section-3 .u-group-5 {
  width: 164px;
  min-height: 96px;
  margin: -90px 118px 0 auto;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-text-7 {
  width: 104px;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  margin: 23px 124px 0 452px;
}

.u-section-3 .u-text-9 {
  margin: -24px 452px 0 124px;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  width: 803px;
  margin: 41px auto 0;
}

.u-section-3 .u-text-11 {
  font-size: 1.125rem;
  width: 803px;
  margin: 21px auto 0;
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 45px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 84px;
    margin-left: 412px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -160px;
    margin-right: 372px;
  }

  .u-section-3 .u-group-4 {
    margin-top: 158px;
  }

  .u-section-3 .u-group-5 {
    margin-top: -95px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 29px;
    margin-left: 372px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 412px;
    margin-left: 84px;
  }

  .u-section-3 .u-text-10 {
    width: 720px;
  }

  .u-section-3 .u-text-11 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 14px;
    margin-left: 342px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 232px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-5 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 232px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 342px;
    margin-left: 14px;
  }

  .u-section-3 .u-text-10 {
    width: 540px;
  }

  .u-section-3 .u-text-11 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 983px;
  }

  .u-section-3 .u-group-1 {
    min-height: 670px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    width: 248px;
    margin-top: 31px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 26px;
    margin-right: auto;
  }

  .u-section-3 .u-group-3 {
    margin-top: 55px;
    margin-left: auto;
  }

  .u-section-3 .u-text-4 {
    width: 164px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-5 {
    width: 164px;
    margin-top: -175px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-group-4 {
    min-height: 96px;
    margin-top: 168px;
    margin-left: auto;
  }

  .u-section-3 .u-group-5 {
    margin-top: 44px;
    margin-right: auto;
  }

  .u-section-3 .u-text-8 {
    width: 164px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-9 {
    width: 164px;
    margin-top: -164px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-10 {
    width: 340px;
  }

  .u-section-3 .u-text-11 {
    width: 340px;
  }
} .u-section-4 {
  background-image: linear-gradient(#77aad9, #2cccc4);
}

.u-section-4 .u-sheet-1 {
  min-height: 487px;
}

.u-section-4 .u-text-1 {
  width: 820px;
  margin: 1px auto;
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }
}